@CHARSET "UTF-8";
@IMPORT url("reset.css");

/*
	text-color: #979797;
	light-text-color: #;
	strong-text-color:#000;
	
	base-color : #8CBA34
			
	strong-color :#fd7e00
	light-strong-color:
	heavy-strong-color:
*/
.center
{
	text-align: center !important;
}
.strong
{
	color:#fd7e00 !important;
	font-weight: bold !important;
}

.hr-menu li
{
	float:left;
}

/* .hr-menu:after
{
	content:"aa";
	display: block;
	clear:left;
	visibility: hidden;
	height: 0px;
}
 */
/**
  http://nicolasgallagher.com/micro-clearfix-hack/
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.hidden
{
	display: none;
}

.aside-title
{
	font-family: 맑은 고딕;
	font-weight: bold;
	font-size: 24px;
	color:#000;	
}

.aside-sub-title
{
	font-family: 맑은 고딕;
	font-weight: bold;
	font-size: 12px;
	color:#000;
	padding-left: 10px;
}

.aside-ext-title
{
	font-family: 맑은 고딕;
	font-weight: bold;
	font-size: 13px;
	color:#000;
	padding-left: 26px;
	background: url("../images/iconFavorite.png") no-repeat left center;
}

.content-title
{
	font-family: 맑은 고딕;
	font-weight: bold;
	font-size: 21px;
	color:#646464;
	padding-left: 25px;
	background: url("../images/iconTitle.png") no-repeat left center;
}

/* ------------------- */
.aside-menu
{
	
}

.aside-menu li
{
	height: 26px;
	line-height: 26px;	
	background: url("../images/spAsideMenu.png") no-repeat left bottom;
}

.aside-menu li:last-child
{
	background: none;
	border-bottom: 1px solid #b3b3b3;
}

.aside-menu a
{
	text-decoration:none;
	font-weight:bold;
	font-size:11px;
	color:#808080;
	padding-left: 26px;
}

.aside-menu li a:hover
{	
	background: url("../images/iconCurrent.png") no-repeat 15px center;
}

/* --<.bbs-search-form>--------------------------- */
.bbs-search-form
{
	
}

.bbs-search-form select,
.bbs-search-form input[name="q"]
{
	height: 20px;
}

.bbs-search-form input[name="q"]
{
	border: 1px solid #8cba35;
}

.bbs-search-form input[type="submit"]
{
	width:49px;
	height:23px;
	border:0px solid #fff;
	background: url("../images/btnSearch.png") no-repeat center;
	text-indent: -999px;
}

/* --<.bbs-list>----------------------- */
.bbs-list
{
	border-top: 2px solid #8cba35;
	width:720px;		
}

.bbs-list th, .bbs-list td
{
	text-align:center;
	font-family:돋움;
	font-size:11px;
	color:#979797;
	height:30px;
	line-height:30px;
	border-bottom: 1px solid #e9e9e9;
	
	/* 범위를 벗어나는 경우 */	
	display: inline-block;
	float:left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}

.bbs-list th
{
	background: #f5f5f5 url("../images/spGridTitle.png") no-repeat left center;
}

.bbs-list a
{
	text-decoration: none;
	color:#979797;
}

.bbs-list a:HOVER
{
	text-decoration: underline;
}

.bbs-list .seq
{
	width:60px;
}

.bbs-list .title
{
	width:400px;	
}

.bbs-list td.title
{	
	text-align: left;
	text-indent: 10px;
}

.bbs-list .writer
{
	width:100px;
}

.bbs-list .regdate
{
	width:100px;
}

.bbs-list .hit
{
	width:60px;
}

/* ---------------------<.bbs-detail>-------------------------------- */

.bbs-detail
{
	width:720px;
	border-top: 2px solid #8cba35;
	font-family: 돋움;
	font-size: 11px;
	color: #939393;
	
}

.bbs-detail dt,
.bbs-detail dd
{
	float: left;
	height:33px;
	line-height:33px;
	vertical-align: middle;
	border-bottom: 1px solid #e9e9e9;
}

.bbs-detail dt
{
	width:150px;
	background-color: #f5f5f5;
	text-align: center;

}

.bbs-detail dd
{
	width:570px;
	text-indent: 10px;
	overflow: hidden;
	text-overflow: elipsis;
}

.bbs-detail dd.half
{
	width:210px;
}

.bbs-detail dd.full
{
	width:700px;
	height:auto;
	text-indent: 0px;
	padding: 10px;
}


/* ---------------[ buttons ] --------------- */
.button
{
	display: inline-block;
	text-indent: -999px;
	overflow:hidden;
}

.btn-reg
{
	width:71px;
	height:23px;
	background: url("../images/buttons.png")no-repeat 0px 0px;
}

.btn-list
{
	width:64px;
	height:23px;
	background: url("../images/buttons.png")no-repeat -71px 0px;

}

.btn-del
{
	width:64px;
	height:23px;
	background: url("../images/buttons.png") no-repeat -184px -23px;
}

.btn-edit
{
	width:64px;
	height:23px;
	background: url("../images/buttons.png")no-repeat -71px -23px;
}

.btn-save
{
	width:56px;
	height:21px;
	background: url("../images/btnSave.png")no-repeat center;
}

.btn-cancel
{
	
}




/* ==[ header elements ]========================================= */
/* --<#pop-menu>----------------------- */
#pop-menu li
{
	padding-left: 24px;
	background: url("../images/spPopMenu.png") no-repeat 12px center;
}

#pop-menu li:first-child
{
	padding-left: 0px;
	background: none;
}

#pop-menu li a
{	
	text-decoration: none;
	font-family: 맑은고딕, 명조, sans-serif;
	font-size: 15px;
	font-weight:bold;
	color: #000;
}

#pop-menu li a:hover
{
	color:#fd7e00;
}

/* --<#search-form>------------------------- */
#search-form
{
	border: 5px solid #8CBA34;
	width:308px;
	height: 25px;
	position: relative;
}

#search-form label
{
	display:inline-block;	
	height:25px;
	line-height:25px;
	padding-left:5px;
	font-size:12px;
	font-weight: bold;
	color:#A5A5A5;
}

#search-form input[name="q"]
{	
	width:217px;	
	height:25px;
	border:0px solid #fff;	
}

#search-form input[type="submit"]
{	
	position:absolute;
	right:0px;
	top:0px;
	width:31px;
	height:25px;
	border:1px solid #fff;
	border-left:1px solid #8CBA35;
	background: url("../images/btnZoom.png") no-repeat center;
	text-indent: -999px;
}


/* --<#member-menu>----------------------- */
#member-menu
{
}

#member-menu a
{
	font-size: 10px;
	font-family: 맑은 고딕;
	font-weight: bold;
	color: #979797;
	text-decoration: none;
}

#member-menu a:hover
{
	text-decoration: underline;	
}

#member-menu li
{
	padding-left: 9px;
	background: url("../images/bgLoginMenuSp.png") no-repeat 5px center;
}

#member-menu li:first-child {
	padding-left: 0px;
}


/* --<#breadscrumb>------------------------------------- */
#breadscrumb li
{
	font-size:11px;
	color:#939393;
	font-family:돋움;
	float: left;
	padding-left: 8px;
	background: url("../images/iconPath.png") no-repeat left 0px;
}

#breadscrumb li:first-child
{
	padding-left: 20px !important;
	background: url("../images/iconHome.png") no-repeat left center !important;
}

#breadscrumb li:last-child
{	
	font-weight: bold;
}

/* --------------------------- */
.bbs-status
{
	font-family: 돋움;
	font-size: 11px;
	color:#939393;
}

/* ---------------------- */

.bbs-pager a
{
	font-family: 돋움;
	font-size: 11px;
	color:#939393;
	text-decoration: none;
	margin-left:3px;
	margin-right:3px;
}

.bbs-pager p,
 .bbs-pager ul,
 .bbs-pager ul>li
{
	display: inline-block;
}

.bbs-pager ul>li
{
	float:left;
}
