
body
{

	background: #101010;
}

#wrapper
{
	
	width: 1280px;
	height: 1080px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background: url(../images/bg.png) no-repeat;	
	
}


/*-----------header-------------*/
#header
{
	background: url(../images/headerbg.png);
	height: 30px;

}

#header .logo
{
	text-align: center;
}


.member-menu
{	
	position: absolute;
	top: 10px;
	right :15px;
}

/*---------nav----------*/

#nav
{
	float: left;
	width: 240px;
	height: 1050px;
	background: url(../images/navisp.png)no-repeat right;
}

#nav img
{
	margin-top: 30px;
}


#menu-box
{
	width: 230px;
	height: 1050px;
	background: url(../images/navibg.png);
}




#menu-box li
{
	padding-left: 40px;
	margin-top: 20px;
	
}

#menu-box li:first-child
{
	margin-top: 30px;
}

#menu-box li:last-child
{
	position: absolute;
	left: 10px;
	bottom: 15px;


}







/*-------content------------*/


#content
{
	display: block;
	float: left;
	width: 1040px;
}

.cate-left
{
	width: 520px;
}

.content-nav
{
	height: 48px;
}

.cate-right
{
	
}

.order
{
	width: 520px;
}

.order > *
{
	position: absolute;
	top: 78px;
	right: 15px;
}

#pds
{
	background: blue;
}

#pager
{
	display: block;
	text-align: center;
	background: red url(../images/catesp.png) no-repeat;
}
 
#pager li a
{
	display: inline-block;
	
}