/*
	배경가장어두운색 : #101010;
	빨강 : #c70000;
	글씨 : #ececec;
	글씨선택 : #;
*/
.center
{
	text-align: center !important;
}


.cf:before,
 .cf:after 
 {
 	content: " "; /* 1 */
 	display: table; /* 2 */
 }

 .cf:after 
 {
 	clear: both;
 }

 .cf 
 {
 	*zoom: 1;
 }

 .hr-menu li
 {
 	float:left;
 }

 .hr-menu + *
 {
 	clear: left;
 }



.hidden
{
	visibility: hidden;
	height: 0px;
}



/*header------------------------------*/

.member-menu
{
	color: #ececec;
	font-family: 맑은 고딕;
	font-size: 10px;
	text-decoration: none;
 	
}

.member-menu a
{
	color: #ececec;
	font-family: 맑은 고딕;
	text-decoration: none;
 	
}

.member-menu li
{
	padding-left: 30px;
}

.member-menu li a:visited
{
	color: #ececec;
 	text-decoration: none;
}

.member-menu li a:hover
{
	color: #c70000;
 	text-decoration: none;
}


/*nav------------------------------*/


#menu-box
{
	font-family: 맑은 고딕;
	font-size: 14px;
}

#menu-box li,
#menu-box li a
{
	color: #ececec;
 	text-decoration: none;
}

#menu-box li a:hover
{
	color: #c70000;
}






/*--------content----------*/

.content-nav
{
	background: url(../images/catesp.png)no-repeat top;

}


#content a
{

	color: #ececec;
	font-family: 맑은 고딕;
	font-size: 12px;
	text-decoration: none;
}

.cate-left li,
.cate-right li,
.order li
{
	padding: 15px;
}




#content a:hover
{
	color: #c70000;
}


#pager
{
	margin-top: 15px;
}

#pager li
{
	margin-left: 10px;
	margin-top: 10px;
}